<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene usato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per altre informazioni su questo argomento, vedere https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/868b8130-e8f3-4aea-9c9b-3834d4fa142c/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/corsoazconsap</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://corsoazconsap-fxbga9ccc6h0ffb4.italynorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f35613ad-c059-4a54-a2ee-caa8d517f8e5</ProjectGuid>
    <PublishUrl>https://corsoazconsap-fxbga9ccc6h0ffb4.scm.italynorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$corsoazconsap</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>